test
a.out
*.asm
/tests/func/test_c11
/tests/func/test_container_composing
/tests/func/test_deque
/tests/func/test_list
/tests/func/test_queue
/tests/func/test_set
/tests/func/test_stack
/tests/func/test_string
/tests/func/test_vec_capacity
/tests/func/test_vector
/examples/6502
/examples/astar
/examples/json
/examples/postfix
/examples/snow
