test
a.out
*.asm
/rb.sh
.gdbinit
/.cflags
/.cflags.tmp
/tests/func/test_array
/tests/func/test_c11
/tests/func/test_container_composing
/tests/func/test_deque
/tests/func/test_double_array
/tests/func/test_forward_list
/tests/func/test_generic_iter
/tests/func/test_generic_iter2
/tests/func/test_int_vector
/tests/func/test_integral
/tests/func/test_integral_c11
/tests/func/test_list
/tests/func/test_map
/tests/func/test_priority_queue
/tests/func/test_queue
/tests/func/test_set
/tests/func/test_stack
/tests/func/test_str_capacity
/tests/func/test_string
/tests/func/test_u8ident
/tests/func/test_u8string
/tests/func/test_unordered_map
/tests/func/test_unordered_set
/tests/func/test_unordered_set_cached
/tests/func/test_unordered_set_power2
/tests/func/test_unordered_set_sleep
/tests/func/test_vec_capacity
/tests/func/test_vector
/tests/perf/*.log
/examples/6502
/examples/astar
/examples/json
/examples/postfix
/examples/snow
/docs/man/
/docs/images/old
/perf.data*
# generate via make clean; bear make
/compile_commands.json
